body { font-family: Monospace;background-image: url("bees2.png");background-size: 50%; }
h1 {color: yellow; text-align: center; font-size: 50px; text-transform: uppercase;}
p { font-family: , serif; text-align: center /*--background-color: yellow */}
h2 { text-align: center; text-}
img {display: block ; margin-left: auto; margin-right: auto;width: 200 ;
    border-radius: 25px;
    background: yellow;
    padding: 20px; 
    width: 200px;
    height: 150px; }
a:hover { background-color: red }
div {
		width: 100px; height:100px; background:yellow; position: relative;} 

